# Tabular Playground Series - Feb 2022

This dataset is aimed to practive ML skills by using the genomic analysis technique data with some data compression and data loss.

ATATGGCCTT will be represented as A2T4G2C2 instead of the sequence.

Let's start with checking the data set and let's find out some direction for analysis.

### This notebook is the template for data transformation and there are few different notebook for each machine learning algorithm

In [1]:
# libraries set up
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# read the data
train_path = 'data/train.csv'
test_path = 'data/test.csv'

train_set = pd.read_csv(train_path, index_col = 0)
test_set = pd.read_csv(test_path, index_col = 0)

In [3]:
# preview for the train data
df_train = train_set.copy()
df_train.head()

,A0T0G0C10,A0T0G1C9,A0T0G2C8,A0T0G3C7,A0T0G4C6,A0T0G5C5,A0T0G6C4,A0T0G7C3,A0T0G8C2,A0T0G9C1,...,A8T0G1C1,A8T0G2C0,A8T1G0C1,A8T1G1C0,A8T2G0C0,A9T0G0C1,A9T0G1C0,A9T1G0C0,A10T0G0C0,target
row_id,,,,,,,,,,,,,,,,,,,,,
0,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-0.000010,...,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Streptococcus_pyogenes
1,-9.536743e-07,-0.000010,-0.000043,0.000886,-0.000200,0.000760,-0.000200,-0.000114,-0.000043,-0.000010,...,-0.000086,-0.000043,0.000914,0.000914,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Salmonella_enterica
2,-9.536743e-07,-0.000002,0.000007,0.000129,0.000268,0.000270,0.000243,0.000125,0.000001,-0.000007,...,0.000084,0.000048,0.000081,0.000106,0.000072,0.000010,0.000008,0.000019,1.046326e-06,Salmonella_enterica
3,4.632568e-08,-0.000006,0.000012,0.000245,0.000492,0.000522,0.000396,0.000197,-0.000003,-0.000007,...,0.000151,0.000100,0.000180,0.000202,0.000153,0.000021,0.000015,0.000046,-9.536743e-07,Salmonella_enterica
4,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-0.000010,...,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,Enterococcus_hirae

In [4]:
#preview for the test data
df_test = test_set.copy()
df_test.head()

,A0T0G0C10,A0T0G1C9,A0T0G2C8,A0T0G3C7,A0T0G4C6,A0T0G5C5,A0T0G6C4,A0T0G7C3,A0T0G8C2,A0T0G9C1,...,A8T0G0C2,A8T0G1C1,A8T0G2C0,A8T1G0C1,A8T1G1C0,A8T2G0C0,A9T0G0C1,A9T0G1C0,A9T1G0C0,A10T0G0C0
row_id,,,,,,,,,,,,,,,,,,,,,
200000,-9.536743e-07,-0.000002,-9.153442e-07,0.000024,0.000034,-0.000002,0.000021,0.000024,-0.000009,-0.000008,...,0.000039,0.000085,0.000055,0.000108,0.000090,0.000059,0.000010,0.000006,0.000027,4.632568e-08
200001,-9.536743e-07,-0.000010,-4.291534e-05,-0.000114,0.001800,-0.000240,0.001800,-0.000114,0.000957,-0.000010,...,-0.000043,0.000914,-0.000043,-0.000086,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07
200002,4.632568e-08,0.000003,8.465576e-08,-0.000014,0.000007,-0.000005,-0.000004,0.000003,0.000004,-0.000008,...,0.000041,0.000102,0.000084,0.000111,0.000117,0.000070,0.000020,0.000030,0.000021,4.632568e-08
200003,-9.536743e-07,-0.000008,8.084656e-06,0.000216,0.000420,0.000514,0.000452,0.000187,-0.000005,-0.000008,...,0.000069,0.000158,0.000098,0.000175,0.000217,0.000150,0.000018,0.000016,0.000051,-9.536743e-07
200004,-9.536743e-07,-0.000010,-4.291534e-05,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-0.000010,...,-0.000043,-0.000086,-0.000043,-0.000086,0.000914,-0.000043,-0.000010,-0.000010,0.000990,-9.536743e-07

In [5]:
# check the shape for train set
df_train.shape

(200000, 287)

In [6]:
# check the shape for test set
df_test.shape

(100000, 286)

There are 200000 set data for model training. 

100000 testing sample was used for prediction and check with the performance by upload the result to Kaggle.

Now, let's check the whole data set and see is there any duplicate/non-numeric data/ missing value and some column needed to be worked on for feature engineering.

#### Missing value

Let's check is there any missing value for each sample in both training and testing set

In [7]:
# count the missing value in both data set
train_missing_count = 0
for i in df_train.columns:
    train_missing_count += df_train[i].isna().sum()

test_missing_count = 0
for i in df_test.columns:
    test_missing_count += df_test[i].isna().sum()
    
print('Missing value for train set: {0}'.format(train_missing_count))
print('Missing value for test set: {0}'.format(test_missing_count))

Missing value for train set: 0
Missing value for test set: 0

There is no missing value for the data set and we don't have to fill with other value. All the information was remained & obtained.

Next, we have to work on the duplicate.

#### Duplicate

Let's check the sample number for duplicate sample

In [8]:
# print the sample size for duplicate in both train and test set
print('Duplicate sample in train set: {0}'.format(df_train.duplicated().sum()))
print('Duplicate sample in test set: {0}'.format(df_test.duplicated().sum()))

Duplicate sample in train set: 76007
Duplicate sample in test set: 26779

Let's remove the duplicates for training set since it may cause overfitting issues.

In [9]:
# remove the duplicate and replace training set
df_train.drop_duplicates(subset = None, keep = 'first', inplace = True)

#### Object type encoding/ mapping

All the features should be numeric data except the target column but we can still check about the whole data set.

In [10]:
# check for the object column in training set
object_list = []
for i in df_train.columns:
    if df_train[i].dtypes == 'object':
        object_list.append(i)
print(object_list)

['target']

We can see that only the target columns was object type and it is the only column that we needed to do some feature engineering. We can check for the test set as well.

In [11]:
# check for the object column in testing set
object_list = []
for i in df_test.columns:
    if df_test[i].dtypes == 'object':
        object_list.append(i)
print(object_list)

[]

Now, all the features parameter was numeric and it can be applied easily for our model without any transformation at this moment.

Let's work on the target column in training set and change it to numeric value that's the model is readable.

There is two ways for handling this column: (1) Ordinal Encoding (2) One-Hot Encoding. From the description of the data set, there is ten type of bacteria as our target and Orginal Encoding will be a better way to deal with it since it is our target column and we dont want much column for each type of bacteria.

In [12]:
# let's check about what type of bacteria
list(df_train['target'].unique())

# let's assign a number for each type
ordinal_target = dict(enumerate(df_train['target'].unique()))
ordinal_target = {y:x for x,y in ordinal_target.items()}
ordinal_target

{'Streptococcus_pyogenes': 0,
 'Salmonella_enterica': 1,
 'Enterococcus_hirae': 2,
 'Escherichia_coli': 3,
 'Campylobacter_jejuni': 4,
 'Streptococcus_pneumoniae': 5,
 'Staphylococcus_aureus': 6,
 'Escherichia_fergusonii': 7,
 'Bacteroides_fragilis': 8,
 'Klebsiella_pneumoniae': 9}

In [13]:
# make another copy to prevent data change
label_df_train = df_train.copy()

# let's map with the dict that we create in the data set
label_df_train['target'] = label_df_train['target'].map(ordinal_target)

# let's check the data set after mapping/ ordinal encoding
label_df_train.head()

,A0T0G0C10,A0T0G1C9,A0T0G2C8,A0T0G3C7,A0T0G4C6,A0T0G5C5,A0T0G6C4,A0T0G7C3,A0T0G8C2,A0T0G9C1,...,A8T0G1C1,A8T0G2C0,A8T1G0C1,A8T1G1C0,A8T2G0C0,A9T0G0C1,A9T0G1C0,A9T1G0C0,A10T0G0C0,target
row_id,,,,,,,,,,,,,,,,,,,,,
0,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-0.000010,...,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,0
1,-9.536743e-07,-0.000010,-0.000043,0.000886,-0.000200,0.000760,-0.000200,-0.000114,-0.000043,-0.000010,...,-0.000086,-0.000043,0.000914,0.000914,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,1
2,-9.536743e-07,-0.000002,0.000007,0.000129,0.000268,0.000270,0.000243,0.000125,0.000001,-0.000007,...,0.000084,0.000048,0.000081,0.000106,0.000072,0.000010,0.000008,0.000019,1.046326e-06,1
3,4.632568e-08,-0.000006,0.000012,0.000245,0.000492,0.000522,0.000396,0.000197,-0.000003,-0.000007,...,0.000151,0.000100,0.000180,0.000202,0.000153,0.000021,0.000015,0.000046,-9.536743e-07,1
4,-9.536743e-07,-0.000010,-0.000043,-0.000114,-0.000200,-0.000240,-0.000200,-0.000114,-0.000043,-0.000010,...,-0.000086,-0.000043,-0.000086,-0.000086,-0.000043,-0.000010,-0.000010,-0.000010,-9.536743e-07,2

After the mapping, the data was ready for training the model and we can try it in a different.

Let's work a simple XGBoost model and check with the result first.

##### XGBoost

In the XGBoost library, it got XGBoost Regressor & XGBoost Classifier. In the prediction, classification was needed and XGB Classifier will be used as the model.

In [14]:
# set up for machine learning libraries
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Spliting of the data in data set is needed since the model performance needed to be determined.

In [16]:
# extract the features and the target
X = label_df_train.drop('target', axis = 1)
y = label_df_train['target']

# set the test size with 10% first since there is 200000 samples
test_size = 0.1
# split the train data into training set & testing set for the model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_size)

In [18]:
# create the model
xgb = XGBClassifier(use_lable_encoder = False)
# fit the train data into the model
xgb.fit(X_train, y_train)

[02:50:56] WARNING: /Users/ktietz/demo/mc3/conda-bld/xgboost-split_1628682908089/work/src/learner.cc:541:
Parameters: { use_lable_encoder } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[02:50:58] WARNING: /Users/ktietz/demo/mc3/conda-bld/xgboost-split_1628682908089/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

KeyboardInterrupt: